/* Use your own code or past solution for Great Idea Web Page CSS here! */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
}

a {
    text-decoration: none;
    color: lightgrey;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid black;
}

.words {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 4rem;
}

.logo2 {
    height: 300px;
    width: 325px;
}

.features, .about, .services, .product, .vision  {
    display: flex;
    flex-direction:column;
    margin-bottom: 10px;
}

.container2, .container3 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container3 {
    border-bottom: 2px solid black;
}

body {
    width: 80%;
    height: 80%;
    margin-right: auto;
    margin-left:auto;
}

.middle-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width:100%;
}

button {
    background-color: white;
    border: 1px solid grey;
    width: 120px;
    height: 25px;
}

.last-line {
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 800px) {
.logo2 {
    height: 0;
    width: 0;
}

.words {
    margin-bottom: 2rem;
}



}

@media (max-width: 500px) {

.container1, .container2, .container3 {
    flex-direction: column;
}

.features, .about, .services, .product, .vision {
    margin-bottom: 2rem;
}

nav {
    align-items: center;
    flex-direction: column;
}

a {
    border: 1px solid grey;
    
}

}